<template>
  <div class="ele-body">
    <el-card shadow="never">
      <!-- 搜索表单 -->
      <el-form
        :model="where"
        label-width="77px"
        class="ele-form-search"
        @keyup.enter.native="reload"
        @submit.native.prevent>
        <el-row :gutter="15">
    {{range $key, $val := .queryList}}
      {{if ne $val.columnValue ""}}
		<!-- {{$val.columnComment}} -->
		<el-col :lg="6" :md="12">
          <el-form-item label="{{$val.columnTitle}}:">
            <el-select
              clearable
              v-model="where.{{$val.columnName}}"
              placeholder="请选择{{$val.columnTitle}}"
              class="ele-fluid">
              {{range $k, $v := $val.columnValueList}}
              <el-option label="{{$v}}" value="{{$k}}"/>
              {{end}}
            </el-select>
          </el-form-item>
         </el-col>
      {{else}}
		<!-- {{$val.columnComment}} -->
		<el-col :lg="6" :md="12">
        <el-form-item label="{{$val.columnTitle}}:">
          <el-input
            clearable
            v-model="where.{{$val.columnName}}"
            placeholder="请输入{{$val.columnTitle}}"/>
        </el-form-item>
		</el-col>
      {{end}}
    {{end}}
          <el-col :lg="6" :md="12">
            <div class="ele-form-actions">
              <el-button
                type="primary"
                icon="el-icon-search"
                class="ele-btn-icon"
                @click="reload">查询
              </el-button>
              <el-button @click="reset">重置</el-button>
            </div>
          </el-col>
        </el-row>
      </el-form>
      <!-- 数据表格 -->
      <ele-pro-table
        ref="table"
        :where="where"
        :datasource="url"
        :columns="columns"
        :selection.sync="selection"
        height="calc(100vh - 315px)">
        <!-- 表头工具栏 -->
        <template slot="toolbar">
          <el-button
            size="small"
            type="primary"
            icon="el-icon-plus"
            class="ele-btn-icon"
            @click="openEdit(null)">添加
          </el-button>
          <el-button
            size="small"
            type="danger"
            icon="el-icon-delete"
            class="ele-btn-icon"
            @click="removeBatch">删除
          </el-button>
        </template>
        <!-- 操作列 -->
        <template slot="action" slot-scope="{row}">
          <el-link
            type="primary"
            :underline="false"
            icon="el-icon-edit"
            @click="openEdit(row)">修改
          </el-link>
          <el-popconfirm
            class="ele-action"
            title="确定要删除此{{.moduleTitle}}吗？"
            @confirm="remove(row)">
            <el-link
              type="danger"
              slot="reference"
              :underline="false"
              icon="el-icon-delete">删除
            </el-link>
          </el-popconfirm>
        </template>
	{{range $key, $val := .columnList}}
		{{if ne $val.columnSwitch false}}
		<!-- {{$val.columnTitle}}列 -->
        <template slot="{{$val.columnName3}}" slot-scope="{row}">
          <el-switch
            v-model="row.{{$val.columnName3}}"
            @change="edit{{$val.columnName2}}(row)"
            :active-value="1"
            :inactive-value="2"/>
        </template>
		{{else if ne $val.columnImage false}}
		<!-- {{$val.columnTitle}}列 -->
        <template slot="{{$val.columnName}}" slot-scope="{row}">
          <el-avatar shape="square" :size="25" :src="row.{{$val.columnName}}"/>
        </template>
		{{else if ne $val.columnValue ""}}
      <!-- {{$val.columnTitle}}列 -->
      <template slot="{{$val.columnName}}" slot-scope="{row}">
          {{range $k, $v := $val.columnValueList}}
          <el-tag v-if="row.{{$val.columnName}} === {{$k}}" type="{{if eq $k 1}}success{{else if eq $k 2}}warning{{else if eq $k 3}}danger{{else if eq $k 4}}info{{else}}{{end}}" size="small">{{$v}}</el-tag>
          {{end}}
      </template>
		{{end}}
	{{end}}
      </ele-pro-table>
    </el-card>
    <!-- 编辑弹窗 -->
    <{{.moduleName}}-edit
      :data="current"
      :visible.sync="showEdit"
      @done="reload"/>
  </div>
</template>

<scriptTmp>
import {{.entityName}}Edit from './{{.moduleName}}-edit';

export default {
  name: 'System{{.entityName}}',
  components: { {{.entityName}}Edit },
  data() {
    return {
      // 表格数据接口
      url: '/{{.moduleName}}/list',
      // 表格列配置
      columns: [
        {
          columnKey: 'selection',
          type: 'selection',
          width: 45,
          align: 'center',
          fixed: "left"
        },
        {
          prop: 'id',
          label: 'ID',
          width: 60,
          align: 'center',
          showOverflowTooltip: true,
          fixed: "left"
        },
	{{range $key, $val := .columnList}}
		{{if ne $val.columnSwitch false}}
		{
          prop: '{{$val.columnName3}}',
          label: '{{$val.columnTitle}}',
          sortable: 'custom',
          align: 'center',
          width: 100,
          resizable: false,
          slot: '{{$val.columnName3}}',
        },
		{{else if ne $val.columnImage false}}
		{
          columnKey: '{{$val.columnName}}',
          label: '{{$val.columnTitle}}',
          align: 'center',
          showOverflowTooltip: true,
          minWidth: 100,
          slot: '{{$val.columnName}}'
        },
		{{else if ne $val.columnValue ""}}
		{
          prop: '{{$val.columnName}}',
          label: '{{$val.columnTitle}}',
          align: 'center',
          showOverflowTooltip: true,
          minWidth: 150,
          slot: '{{$val.columnName}}',
        },
		{{else}}
		{
          prop: '{{$val.columnName}}',
          label: '{{$val.columnTitle}}',
          showOverflowTooltip: true,
          minWidth: 100,
          align: 'center',
        },
		{{end}}
	{{end}}
        {
          prop: 'createTime',
          label: '创建时间',
          sortable: 'custom',
          showOverflowTooltip: true,
          minWidth: 160,
          align: 'center',
          formatter: (row, column, cellValue) => {
            return this.$util.toDateString(cellValue);
          }
        },
        {
          prop: 'updateTime',
          label: '更新时间',
          sortable: 'custom',
          showOverflowTooltip: true,
          minWidth: 160,
          align: 'center',
          formatter: (row, column, cellValue) => {
            return this.$util.toDateString(cellValue);
          }
        },
        {
          columnKey: 'action',
          label: '操作',
          width: 150,
          align: 'center',
          resizable: false,
          slot: 'action',
          fixed: "right"
        }
      ],
      // 表格搜索条件
      where: {},
      // 表格选中数据
      selection: [],
      // 当前编辑数据
      current: null,
      // 是否显示编辑弹窗
      showEdit: false,
    };
  },
  methods: {
    /* 刷新表格 */
    reload() {
      this.$refs.table.reload({page: 1, where: this.where});
    },
    /* 重置搜索 */
    reset() {
      this.where = {};
      this.reload();
    },
    /* 显示编辑 */
    openEdit(row) {
      this.current = row;
      this.showEdit = true;
    },
    /* 删除 */
    remove(row) {
      const loading = this.$loading({lock: true});
      this.$http.delete('/{{.moduleName}}/delete/' + row.id).then(res => {
        loading.close();
        if (res.data.code === 0) {
          this.$message.success(res.data.msg);
          this.reload();
        } else {
          this.$message.error(res.data.msg);
        }
      }).catch(e => {
        loading.close();
        this.$message.error(e.message);
      });
    },
    /* 批量删除 */
    removeBatch() {
      if (!this.selection.length) {
        this.$message.error('请至少选择一条数据');
        return;
      }
      this.$confirm('确定要删除选中的{{.moduleTitle}}吗?', '提示', {
        type: 'warning'
      }).then(() => {
        const loading = this.$loading({lock: true});
        this.$http.delete('/{{.moduleName}}/delete/' + this.selection.map(d => d.id).join(",")).then(res => {
          loading.close();
          if (res.data.code === 0) {
            this.$message.success(res.data.msg);
            this.reload();
          } else {
            this.$message.error(res.data.msg);
          }
        }).catch(e => {
          loading.close();
          this.$message.error(e.message);
        });
      }).catch(() => {
      });
    },
{{range $key, $val := .columnList}}
	{{if ne $val.columnSwitch false}}
	/* 更改{{$val.columnTitle}} */
    edit{{$val.columnName2}}(row) {
      const loading = this.$loading({lock: true});
      let params = new FormData();
      params.append("id", row.id);
      params.append('{{$val.columnName}}', row.{{$val.columnName3}});
      this.$http.put('/{{$.moduleName}}/{{$val.columnName3}}', params).then(res => {
        loading.close();
        if (res.data.code === 0) {
          this.$message({type: 'success', message: res.data.msg});
        } else {
          row.{{$val.columnName3}} = !row.{{$val.columnName3}} ? 1 : 2;
          this.$message.error(res.data.msg);
        }
      }).catch(e => {
        loading.close();
        this.$message.error(e.message);
      });
    },
	{{end}}
{{end}}
  }
}
</scriptTmp>

<style scoped>
</style>
