// +----------------------------------------------------------------------
// | EasyGoAdmin敏捷开发框架 [ EasyGoAdmin ]
// +----------------------------------------------------------------------
// | 版权所有 2021 EasyGoAdmin深圳研发中心
// +----------------------------------------------------------------------
// | 官方网站: http://www.easygoadmin.vip
// +----------------------------------------------------------------------
// | Author: {{.author}} <easygoadmin@163.com>
// +----------------------------------------------------------------------
// | 免责声明:
// | 本软件框架禁止任何单位和个人用于任何违法、侵害他人合法利益等恶意的行为，禁止用于任何违
// | 反我国法律法规的一切平台研发，任何单位和个人使用本软件框架用于产品研发而产生的任何意外
// | 、疏忽、合约毁坏、诽谤、版权或知识产权侵犯及其造成的损失 (包括但不限于直接、间接、附带
// | 或衍生的损失等)，本团队不承担任何法律责任。本软件框架只能用于公司和个人内部的法律所允
// | 许的合法合规的软件产品研发，详细声明内容请阅读《框架免责声明》附件；
// +----------------------------------------------------------------------

/**
 * {{.moduleTitle}}管理-服务类
 * @author {{.author}}
 * @since {{.since}}
 * @File : {{.moduleName}}
 */
package service

import (
	"easygoadmin/app/dto"
	"easygoadmin/app/model"
	"easygoadmin/utils"
	"easygoadmin/utils/gconv"
	"errors"
	"strings"
	"time"
)

// 中间件管理服务
var {{.entityName}} = new({{.moduleName}}Service)

type {{.moduleName}}Service struct{}

func (s *{{.moduleName}}Service) GetList(req *dto.{{.entityName}}PageReq) ([]model.{{.entityName}}, int64, error) {
	// 初始化查询实例
	query := utils.XormDb.Where("mark=1")
	if req != nil {
		// 职级名称查询
		if req.Name != "" {
			query = query.Where("name like ?", "%"+req.Name+"%")
		}
	}
	// 排序
	query = query.Asc("sort")
	// 分页设置
	offset := (req.Page - 1) * req.Limit
	query = query.Limit(req.Limit, offset)
	// 查询列表
	list := make([]model.{{.entityName}}, 0)
	count, err := query.FindAndCount(&list)
	// 返回结果
	return list, count, err
}

func (s *{{.moduleName}}Service) Add(req *dto.{{.entityName}}AddReq, userId int) (int64, error) {
	// 实例化对象
	var entity model.{{.entityName}}
	{{range $key, $val := .columnList}}
	{{if ne $val.columnImage false}}// {{$val.columnTitle}}处理
	if req.{{$val.columnName2}} != "" {
		{{$val.columnName}}, err := utils.SaveImage(req.{{$val.columnName2}}, "{{$.moduleName}}")
		if err != nil {
			return 0, err
		}
		entity.{{$val.columnName2}} = {{$val.columnName}}
	}{{else}}entity.{{$val.columnName2}} = req.{{$val.columnName2}}{{end}}{{end}}
	entity.CreateUser = userId
	entity.CreateTime = time.Now()
	entity.Mark = 1
	// 插入数据
	return entity.Insert()
}

func (s *{{.moduleName}}Service) Update(req *dto.{{.entityName}}UpdateReq, userId int) (int64, error) {
	// 查询记录
	entity := &model.{{.entityName}}{Id: req.Id}
	has, err := entity.Get()
	if err != nil || !has {
		return 0, errors.New("记录不存在")
	}
	{{range $key, $val := .columnList}}
	{{if ne $val.columnImage false}}// {{$val.columnTitle}}处理
	if req.{{$val.columnName2}} != "" {
		{{$val.columnName}}, err := utils.SaveImage(req.{{$val.columnName2}}, "{{$.moduleName}}")
		if err != nil {
			return 0, err
		}
		entity.{{$val.columnName2}} = {{$val.columnName}}
	}{{else}}entity.{{$val.columnName2}} = req.{{$val.columnName2}}{{end}}{{end}}
	entity.UpdateUser = userId
	entity.UpdateTime = time.Now()
	// 更新记录
	return entity.Update()
}

// 删除
func (s *{{.moduleName}}Service) Delete(ids string) (int64, error) {
	// 记录ID
	idsArr := strings.Split(ids, ",")
	if len(idsArr) == 1 {
		// 单个删除
		entity := &model.{{.entityName}}{Id: gconv.Int(ids)}
		rows, err := entity.Delete()
		if err != nil || rows == 0 {
			return 0, errors.New("删除失败")
		}
		return rows, nil
	} else {
		// 批量删除
		return 0, nil
	}
}

{{range $key, $val := .columnList}}
{{if ne $val.columnSwitch false}}
func (s *{{$.moduleName}}Service) {{$val.columnName2}}(req *dto.{{$.entityName}}{{$val.columnName2}}Req, userId int) (int64, error) {
	// 查询记录是否存在
	info := &model.{{$.entityName}}{Id: req.Id}
	has, err := info.Get()
	if err != nil || !has {
		return 0, errors.New("记录不存在")
	}

	// 设置状态
	entity := &model.{{$.entityName}}{}
	entity.Id = info.Id
	entity.{{$val.columnName2}} = req.{{$val.columnName2}}
	entity.UpdateUser = userId
	entity.UpdateTime = time.Now()
	return entity.Update()
}
{{end}}
{{end}}
